body {
  padding: 0;
  margin: 0;
  background-color: #0b1826;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 10rem;
  text-align: center;
  letter-spacing: 1rem;
}

p {
  text-align: center;
  font-size: 3rem;
}

.gold-effect {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
}

@media only screen and (max-width: 768px) {
  span {
    font-size: 5rem;
  }
}
